.header
  display: flex
  justify-content: space-between
  align-items: center


  nav
    display: flex
    width: 309px
    justify-content : flex-end
    gap: 57px

    a
      height: 34px
      font-size : 24px

